@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
}

.overfl-hidd {
  overflow: hidden;
}

.uppcase {
  text-transform: uppercase;
}

.mg-l-16 {
  margin: 0 0 0 16px;
}

.mg-r-24 {
  margin: 0 24px 0 0;
}

.gr-vert-center {
  align-self: center;
}

.text-item {
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
}

.description-text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto Regular", sans-serif;
  line-height: 24px;
}

.bd {
  border: 1px solid #fff;
}

.mg-pd-0 {
  margin: 0;
  padding: 0;
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  vertical-align: middle;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  content: "";
}

.big-title {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  font-family: "Roboto Regular", sans-serif;
  line-height: 90px;
}

.less-title {
  color: #fff;
  font-weight: 700;
  font-size: 38px;
  font-family: "Roboto Regular", sans-serif;
  line-height: 57px;
}

.input-field {
  background: rgb(0 0 0 / 0%);
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.bord-rad-5 {
  border-radius: 5px;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
  color: #cacaca;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto Regular", sans-serif;
  line-height: 27px;

  background-color: #08020d;
}

.container-content {
  position: relative;
}

@media (max-width: 454px) {
  .container-content {
    max-width: 414px;
  }
}

@media (min-width: 1240px) {
  .container-content {
    min-width: 1200px;
  }
}

.header {
  position: relative;
  z-index: 2;

  display: grid;
  grid-template: 1fr / 8.3% 13% 53.05% 25.63%;
  margin-top: 25px;
}

.header-logo {
  display: grid;
  grid-column: 2/3;
  grid-template: 1fr / auto auto;
  justify-content: start;
}

.header-logo img {
  align-self: center;
  max-width: 24px;
  max-height: 24px;
}

.header-menu {
  display: grid;
  grid-column: 3/4;
  grid-template: 1fr / auto auto auto auto;
  justify-content: start;
}

.header-menu a {
  align-self: center;
}

.header-search {
  grid-column: 4/-1;
}

.header-search input::placeholder {
  margin: auto 0;
  padding: 0 10px;

  color: #757575;
  font-weight: 400;
  font-size: 13.3px;
  font-family: "Roboto Regular", sans-serif;
  line-height: 15.3px;
  text-transform: uppercase;
}

.header-search .search {
  min-width: 248px;
  min-height: 25px;

  background-color: #3c3b3d;
  border-radius: 50px;
}

.header-search input {
  align-self: center;
}

.description {
  position: relative;
  z-index: 2;

  padding: 200px 0;

  text-align: center;
}

.description .form-block-text {
  padding-top: 31px;
}

.description .form-block .name-mail-form-grid {
  display: grid;
  grid-template: minmax(50px, auto) minmax(50px, auto) / minmax(273px, auto) minmax(273px, auto);
  grid-template-areas: "name mail" "btn btn";
  gap: 24px;

  max-width: 570px;
  margin: 17px auto 0;
}

.description .form-block .name-mail-form-grid input::placeholder {
  padding-left: 20px;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto Regular", sans-serif;
  line-height: 16.4px;
}

.description .form-block .name-mail-form-grid .input-name {
  grid-area: name;
}

.description .form-block .name-mail-form-grid .input-mail {
  grid-area: mail;
}

.description .form-block .name-mail-form-grid-btn {
  grid-area: btn;

  color: #fff;
  font-weight: 400;
  font-size: 13.3px;
  font-family: "Roboto Regular", sans-serif;
  line-height: 15.3px;
  text-transform: uppercase;

  background-color: #34c176;
}
