@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
}

.uppcase {
  text-transform: uppercase;
}

.font-menu {
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16.5px;
}
@media (max-width: 454px) {
  .font-menu {
    font-weight: 700;
    line-height: 13px;
  }
}

.font-description-text {
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.font-subscriptions {
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 19.2px;
}

.bd {
  border: 1px solid #fff;
}

.mg-pd-0 {
  margin: 0;
  padding: 0;
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
  background-image: url("../images/banner.png");
}

.font-big-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
}
@media (max-width: 799px) {
  .font-big-title {
    font-family: "Roboto Regular", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
  }
}

.font-less-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
}
@media (max-width: 799px) {
  .font-less-title {
    font-family: "Roboto Regular", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }
}

.font-subscriptions-title {
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
@media (max-width: 799px) {
  .font-subscriptions-title {
    font-family: "Roboto Regular", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}

.price-font {
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
}

.font-rub {
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
}

.font-news-title {
  color: #fff;
  text-transform: capitalize;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}
@media (max-width: 1050px) {
  .font-news-title {
    font-family: "Roboto Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

.font-logo {
  color: #cacaca;
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 150%;
}
.font-logo .orange-mark {
  color: #f89202;
}

.font-footer-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.input-field {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.art-bg::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
  background-image: url("../images/Morten Harket.png");
}

.fw700 {
  font-weight: 700;
}

.captlz {
  text-transform: capitalize;
}

.header-wrapper {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 120px;
  display: grid;
  grid-template: auto/auto 0.5fr auto 1fr 248px;
  grid-template-areas: "logo . menu . search";
  align-content: center;
  width: 80%;
}
.header-wrapper .header-logo {
  grid-area: logo;
  display: grid;
  grid-template: 1fr/auto auto;
  justify-content: start;
}
.header-wrapper .header-logo .image {
  align-self: center;
  max-width: 24px;
  max-height: 24px;
}
.header-wrapper .header-logo .text {
  align-self: center;
  margin-left: 16px;
  white-space: nowrap;
}
.header-wrapper .header-menu {
  grid-area: menu;
}
.header-wrapper .header-search {
  grid-area: search;
}
.header-wrapper .header-search .search {
  width: 100%;
  min-height: 25px;
  background-color: #3c3b3d;
  border-radius: 50px;
}
.header-wrapper .header-search input {
  color: #fff;
  font-weight: 600;
  padding-right: 10px;
  padding-left: 10px;
}
.header-wrapper .header-search input::-moz-placeholder {
  margin: auto 0;
  padding: 0 10px;
  text-transform: uppercase;
  color: #757575;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15.4px;
}
.header-wrapper .header-search input:-ms-input-placeholder {
  margin: auto 0;
  padding: 0 10px;
  text-transform: uppercase;
  color: #757575;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15.4px;
}
.header-wrapper .header-search input::placeholder {
  margin: auto 0;
  padding: 0 10px;
  text-transform: uppercase;
  color: #757575;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15.4px;
}

@media (max-width: 799px) {
  .header-wrapper {
    display: grid;
    grid-template: repeat(6, auto)/1fr;
    grid-template-areas: "logo" "menu" "menu" "menu" "menu" "search";
    top: 25px;
    left: 0;
    width: 100%;
    padding: 0 20px;
  }
  .header-wrapper .header-logo {
    grid-area: logo;
    margin-bottom: 17px;
  }
  .header-wrapper .header-menu {
    grid-area: menu;
    display: grid;
    grid-template: repeat(4, auto)/auto;
    gap: 3px;
  }
  .header-wrapper .header-search {
    grid-area: search;
    margin-top: 18px;
  }
}
@media (min-width: 1440px) {
  .header-wrapper {
    display: grid;
    grid-template: auto/auto 90px auto 450px 248px;
    grid-template-areas: "logo . menu . search";
    align-content: center;
  }
  .header-wrapper .header-logo {
    grid-area: logo;
  }
  .header-wrapper .header-menu {
    display: grid;
    grid-area: menu;
    grid-template: auto/repeat(4, auto);
    gap: 24px;
  }
  .header-wrapper .header-menu a {
    align-self: center;
  }
  .header-wrapper .header-search {
    grid-area: search;
  }
  .header-wrapper .header-search input {
    align-self: center;
  }
}
.footer-container {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}

.footer-info .column .title {
  margin-bottom: 16px;
}
.footer-info .column .body {
  display: flex;
  flex-direction: column;
}
.footer-info .column .body a {
  color: #fff;
}

.bages-block {
  display: grid;
  grid-template: auto/repeat(4, -webkit-min-content);
  grid-template: auto/repeat(4, min-content);
  gap: 24px;
}

.footer-menu {
  padding: 40px 0 50px 0;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .footer-container {
    position: relative;
    min-width: 800px;
    padding: 62px 120px 0 120px;
  }
  .footer-info {
    display: grid;
    grid-template: auto/repeat(4, 1fr);
    gap: 40px;
  }
  .footer-info .column .body {
    margin-bottom: 72px;
  }
  .footer-menu {
    display: grid;
    grid-template: min-content/120px repeat(5, auto) 1fr;
    align-content: center;
    margin: 0 -120px;
    border-top: 1px solid #cacaca;
  }
  .footer-menu .item1 {
    grid-column-start: 2;
    padding-right: 16px;
  }
  .footer-menu .item2 {
    grid-column-start: 3;
    padding-right: 16px;
  }
  .footer-menu .item3 {
    grid-column-start: 4;
    padding-right: 16px;
  }
  .footer-menu .item4 {
    grid-column-start: 5;
    padding-right: 16px;
  }
  .footer-menu .item5 {
    grid-column-start: 6;
    padding-right: 16px;
  }
}
@media (max-width: 799px) {
  .footer-container {
    position: relative;
    max-width: 799px;
    padding: 62px 20px 0 20px;
  }
  .footer-info {
    display: grid;
    grid-template: repeat(4, auto)/1fr;
    gap: 30px;
  }
  .bages-block {
    padding-bottom: 75px;
  }
  .footer-menu {
    display: grid;
    grid-template: repeat(5, auto)/1fr;
    gap: 16px;
    margin: 0 -20px;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 1px solid #cacaca;
  }
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
body {
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #cacaca;
  background-color: #08020d;
}

.description-content {
  position: relative;
  padding: 200px 120px 200px;
}

.description {
  position: relative;
  z-index: 2;
  text-align: center;
}
.description .form-block-text {
  margin: 31px 0 17px 0;
}
.description .main-form input {
  color: #fff;
  font-weight: 600;
  padding-right: 22px;
  padding-left: 22px;
}
.description .main-form input::-moz-placeholder {
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.4px;
  padding-left: 22px;
  padding-right: 22px;
}
.description .main-form input:-ms-input-placeholder {
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.4px;
  padding-left: 22px;
  padding-right: 22px;
}
.description .main-form input::placeholder {
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.4px;
  padding-left: 22px;
  padding-right: 22px;
}
.description .main-form .input-name {
  grid-area: name;
}
.description .main-form .input-mail {
  grid-area: mail;
}
.description .main-form-btn {
  grid-area: btn;
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15.4px;
  text-transform: uppercase;
  background-color: #34c176;
  border-radius: 5px;
}

@media (max-width: 1439px) {
  .main-form {
    display: grid;
    justify-content: center;
    grid-template: minmax(50px, auto) minmax(57px, auto)/minmax(auto, 273px) minmax(auto, 273px);
    grid-template-areas: "name mail" "btn btn";
    gap: 24px;
    margin: 17px auto 0;
  }
  .main-form .input-name {
    grid-area: name;
  }
  .main-form .input-mail {
    grid-area: mail;
  }
  .main-form .main-form-btn {
    grid-area: btn;
  }
}
@media (max-width: 799px) {
  .description-content {
    position: relative;
    max-width: 799px;
    padding: 250px 20px 200px 20px;
  }
  .description .form-block .form-block-text {
    margin: 16px 0;
  }
  .main-form {
    display: grid;
    grid-template: repeat(2, minmax(50px, 1fr)) 57px/1fr;
    grid-template-areas: "name" "mail" "btn";
    gap: 24px;
  }
  .main-form .input-name {
    grid-area: name;
  }
  .main-form .input-mail {
    grid-area: mail;
  }
  .main-form .main-form-btn {
    grid-area: btn;
  }
}
@media (min-width: 1440px) {
  .description-content {
    position: relative;
    min-width: 1440px;
  }
  .main-form {
    display: grid;
    justify-content: center;
    grid-template: minmax(50px, auto) minmax(57px, auto)/minmax(273px, auto) minmax(273px, auto);
    grid-template-areas: "name mail" "btn btn";
    gap: 24px;
    margin-top: 17px;
  }
  .main-form .input-name {
    grid-area: name;
  }
  .main-form .input-mail {
    grid-area: mail;
  }
  .main-form .main-form-btn {
    grid-area: btn;
  }
}
.subscriptions-wrapper-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscriptions-wrapper-flex .subscriptions-block-grid .bg-free::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  border-radius: 16px;
  background-image: url("../images/subscribe_1.png");
}
.subscriptions-wrapper-flex .subscriptions-block-grid .bg-standard::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  border-radius: 16px;
  background-image: url("../images/subscribe_2.png");
}
.subscriptions-wrapper-flex .subscriptions-block-grid .bg-premium::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  border-radius: 16px;
  background-image: url("../images/subscribe_3.png");
}
.subscriptions-wrapper-flex .subscriptions-block-grid .subscriptions-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}
.subscriptions-wrapper-flex .subscriptions-block-grid .subscriptions-item .subscriptions-item-title {
  position: relative;
  z-index: 2;
}
.subscriptions-wrapper-flex .subscriptions-block-grid .subscriptions-item .subscriptions-price {
  position: relative;
  z-index: 2;
  margin-top: 200px;
}
.subscriptions-wrapper-flex .subscriptions-block-grid .subscriptions-item .subscriptions-price .align-rub {
  vertical-align: top;
  margin-left: 16px;
}
.subscriptions-wrapper-flex .subscriptions-block-grid .subscriptions-item .subscriptions-btn {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 66px;
  margin: 40px 0 0 0;
  border: 1px solid #fff;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
}
.subscriptions-wrapper-flex .subscriptions-block-grid .subscriptions-item .subscriptions-footer {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 64px 0;
}
.subscriptions-wrapper-flex .subscriptions-text {
  text-align: center;
  margin-top: 40px;
}

@media (min-width: 800px) {
  .subscriptions-container {
    position: relative;
    max-width: 1240px;
    padding: 100px 20px 0;
  }
  .subscriptions-container .subscriptions-block-grid {
    display: grid;
    grid-template: auto/repeat(3, 1fr);
    gap: 50px;
    margin-top: 45px;
  }
  .subscriptions-container .subscriptions-block-grid.subscriptions-item {
    grid-column: 1span;
  }
  .subscriptions-container .subscriptions-block-grid .subscriptions-item-title {
    margin-top: 24px;
  }
}
@media (max-width: 799px) {
  .subscriptions-container {
    position: relative;
    max-width: 799px;
    padding: 100px 20px 0 20px;
  }
  .subscriptions-title {
    margin-bottom: 46px;
  }
  .subscriptions-block-grid {
    display: grid;
    grid-template: repeat(3, auto)/1fr;
    gap: 48px;
  }
  .subscriptions-item-title {
    margin-top: 16px;
  }
}
.news-title {
  text-align: center;
}

.news-block-grid {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  gap: 67px;
  width: 100%;
  margin-top: 48px;
}

.news-item {
  display: grid;
  grid-template: auto/50% 50%;
}
.news-item img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-item .body {
  display: flex;
  flex-direction: column;
}
.news-item .body .title {
  margin: 0 0 30px 0;
}
.news-item .body .description {
  text-align: start;
}
.news-item .body .logo-date {
  display: grid;
  grid-template: auto/repeat(3, auto);
  gap: 16px;
  margin: 24px 0 0;
  justify-content: start;
}
.news-item .body .logo-date img {
  align-self: center;
  width: 19px;
  height: 19px;
}
.news-item .body .btn {
  width: 135px;
  height: 53px;
  margin-top: 48px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #cacaca;
  border-radius: 5px;
}

@media (min-width: 800px) {
  .news-container {
    position: relative;
    max-width: 1240px;
    padding: 102px 20px 0 20px;
  }
  .news-item {
    gap: 50px;
  }
}
@media (max-width: 799px) {
  .news-container {
    position: relative;
    max-width: 799px;
    padding: 100px 20px 0 20px;
  }
  .news-item {
    display: grid;
    grid-template: auto auto/100%;
  }
  .news-item img {
    order: 1;
  }
  .news-item .body {
    order: 2;
  }
  .news-item .body .title {
    margin: 50px 0 16px 0;
  }
  .news-item .body .logo-date img {
    order: 1;
  }
  .news-item .body .logo-date .logo {
    order: 2;
  }
  .news-item .body .logo-date .date {
    order: 3;
  }
}
.app-title {
  text-align: center;
}

.app-block .body .btn {
  width: 131px;
  height: 53px;
  margin-top: 15px;
  border-radius: 32px;
  background-color: #95390c;
}

.app-block .image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 800px) {
  .app-container {
    position: relative;
    max-width: 1240px;
    padding: 100px 20px 0;
  }
  .app-block {
    display: flex;
  }
  .app-block .body {
    flex: 0 0 50%;
  }
  .app-block .body .text {
    padding-top: 64px;
  }
  .app-block .image {
    flex: 0 0 50%;
    padding: 48px 0 0 144px;
  }
}
@media (max-width: 799px) {
  .app-container {
    position: relative;
    max-width: 799px;
    padding: 100px 20px 0;
  }
  .app-block {
    display: flex;
    flex-direction: column;
  }
  .app-block .body {
    order: 2;
  }
  .app-block .body .text p {
    margin-top: 16px;
  }
  .app-block .image {
    order: 1;
    margin: 48px auto 16px auto;
  }
}