@import "_variable";

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  border: 0;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: inherit;
}

.overfl-hidd {
  overflow: hidden;
}

.uppcase {
  text-transform: uppercase;
}

.mg-l-16 {
  margin: 0 0 0 16px;
}

.mg-r-24 {
  margin: 0 24px 0 0;
}

.gr-vert-center {
  align-self: center;
}

@mixin font-x($fw, $fz, $lh) {
  font-family: "Roboto Regular", sans-serif;

  @content;

  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

.font-menu {
  color: #fff;
  text-transform: uppercase;

  @include font-x(400, 11px, 16.5px);

  @media (max-width: 454px) {
    font-weight: 700;
    line-height: 13px;
  }
}

.font-description-text {
  color: #fff;

  @include font-x(400, 16px, 24px);
}

.bd {
  border: 1px solid #fff;
}

.mg-pd-0 {
  margin: 0;
  padding: 0;
}

.bg::before {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;

  width: 100%;
  height: 100%;

  vertical-align: middle;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  content: "";
}

.font-big-title {
  color: #fff;
  text-transform: uppercase;
  @include font-x(700, 60px, 90px);

  @media (max-width: 454px) {
    @include font-x(700, 30px, 45px);
  }
}

.font-less-title {
  color: #fff;
  text-transform: uppercase;
  @include font-x(700, 38px, 57px);

  @media (max-width: 454px) {
    @include font-x(700, 18px, 27px);
  }
}

.input-field {
  background: rgb(0 0 0 / 0%);
  border: 2px solid $main-color-text;
  border-radius: 3px;
}

.bord-rad-5 {
  border-radius: 5px;
}
