@import "_general";
@import "_variable";

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
  color: $main-color-text;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto Regular", sans-serif;
  line-height: 27px;

  background-color: $main-bg;
}

.container-content {
  position: relative;

  @media (max-width: 454px) {
    max-width: 414px;
  }

  @media (min-width: 1240px) {
    min-width: 1200px;
  }
}

.header {
  position: relative;
  z-index: 2;

  display: grid;
  grid-template: 1fr / 8.3% 13% 53.05% 25.63%;

  margin-top: 25px;

  &-logo {
    display: grid;
    grid-column: 2/3;
    grid-template: 1fr / auto auto;
    justify-content: start;

    img {
      align-self: center;
      max-width: 24px;
      max-height: 24px;
    }
  }

  &-menu {
    display: grid;
    grid-column: 3/4;
    grid-template: 1fr / auto auto auto auto;
    justify-content: start;

    a {
      align-self: center;
    }
  }

  &-search {
    grid-column: 4/-1;

    input::placeholder {
      @include fz-13-fw-400;

      margin: auto 0;
      padding: 0 10px;

      color: $arial-color;
    }

    .search {
      min-width: 248px;
      min-height: 25px;

      background-color: $dark;
      border-radius: 50px;
    }

    input {
      align-self: center;
    }
  }
}

.description {
  position: relative;
  z-index: 2;

  padding: 200px 0;

  text-align: center;

  .form-block {
    &-text {
      padding-top: 31px;
    }

    .name-mail-form-grid {
      display: grid;
      grid-template: minmax(50px, auto) minmax(50px, auto) / minmax(273px, auto) minmax(273px, auto);
      grid-template-areas:
        "name mail"
        "btn btn";
      gap: 24px;
      max-width: 570px;
      margin: 17px auto 0;

      input::placeholder {
        @include fz-14-fw-700;
        padding-left: 20px;

        color: #fff;
      }

      .input-name {
        grid-area: name;
      }

      .input-mail {
        grid-area: mail;
      }

      &-btn {
        grid-area: btn;

        color: #fff;

        background-color: $green;

        @include fz-13-fw-400;
      }
    }
  }
}
