@import "_general";
@import "_variable";

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
  @include font-x(400, 18px, 27px);
  color: $main-color-text;

  background-color: $main-bg;
}

.header-logo {
  display: grid;
  grid-template: 1fr / auto auto;
  justify-content: start;

  img {
    align-self: center;
    max-width: 24px;
    max-height: 24px;
  }
}

.header-search {
  .search {
    min-height: 25px;
    background-color: $dark;
    border-radius: 50px;
  }

  input::placeholder {
    margin: auto 0;
    padding: 0 10px;

    color: $arial-color;

    @include font-x(400, 13.3px, 15.4px);
  }
}

.description {
  position: relative;
  z-index: 2;

  text-align: center;

  .form-block {
    margin-top: 31px;
  }
}

@media (max-width: 454px) {
  .container-content {
    position: relative;
    max-width: 454px;
    padding: 250px 20px 200px 20px;
  }

  .header-grid-wrapper {
    position: absolute;

    top: 20px;
    left: 27px;

    z-index: 2;

    width: 100%;

    display: grid;
    grid-template: repeat(6, auto) / 1fr;

    .header-logo {
      grid-row: 1 / 2;
      margin-bottom: 17px;
    }

    .header-menu {
      display: grid;
      grid-row: 2 / 6;
      grid-template: repeat(4, auto) / auto;
    }

    .header-search {
      grid-row: 6 / -1;

      margin-top: 18px;
    }

    .search {
      width: 88.5%;
    }
  }

  .description {
    .form-block {
      margin-top: 16px;
    }
  }
}

@media (min-width: 1240px) {
  .container-content {
    position: relative;
    min-width: 1240px;
    padding: 200px 0;
  }

  .header-grid-wrapper {
    position: absolute;

    top: 25px;
    left: 0;

    z-index: 2;

    width: 100%;

    display: grid;
    grid-template: 1fr / 8.3% 13% 53.05% 25.63%;

    .header-logo {
      grid-column: 2/3;
    }

    .header-menu {
      display: grid;
      grid-column: 3/4;
      grid-template: 1fr / auto auto auto auto;
      justify-content: start;

      a {
        align-self: center;
      }
    }

    .header-search {
      grid-column: 4/-1;

      .search {
        min-width: 248px;
      }

      input {
        align-self: center;
      }
    }
  }

  .description {
    .name-mail-form-grid {
      display: grid;
      grid-template: minmax(50px, auto) minmax(50px, auto) / minmax(273px, auto) minmax(273px, auto);
      grid-template-areas:
        "name mail"
        "btn btn";
      gap: 24px;
      max-width: 570px;
      margin: 17px auto 0;

      input::placeholder {
        color: #fff;
        @include font-x(700, 14px, 16.4px);
        padding-left: 20px;
      }

      .input-name {
        grid-area: name;
      }

      .input-mail {
        grid-area: mail;
      }

      &-btn {
        grid-area: btn;

        color: #fff;
        @include font-x(400, 13.3px, 15.4px);

        text-transform: uppercase;

        background-color: $green;
      }
    }
  }
}
