@import "_variable";
@import "_general";
@import "_header";
@import "_footer";

body {
  background-color: $main-bg;
}

.art-main-title {
  position: relative;
  z-index: 2;

  margin-bottom: 16px;
}
.art-main-fanats {
  position: relative;
  z-index: 2;

  margin-bottom: 48px;
}

.art-main-buttons {
  position: relative;
  z-index: 2;

  display: grid;
  grid-template: 62px / 200px 200px;
  gap: 24px;

  & .btn-mix {
    display: flex;
    justify-content: center;
    align-items: center;

    @include btn-style-x($purple, 5px);

    button {
      margin-left: 22px;
      background: rgb(0 0 0 / 0%);
    }
  }

  & .btn-unicum {
    display: flex;
    justify-content: center;
    align-items: center;

    @include btn-style-x($red, 5px);

    button {
      margin-left: 16px;
      background: rgb(0 0 0 / 0%);
    }
  }
}

@media (max-width: 1439px) {
  .art-description-content {
    max-width: 1439px;
    position: relative;
    padding: 200px 50px;
  }
}

@media (max-width: 799px) {
  .art-description-content {
    max-width: 799px;
    position: relative;
    padding: 225px 20px;
  }

  .art-main-buttons {
    position: relative;
    z-index: 2;

    display: grid;
    grid-template: 62px 62px/ 200px;
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .art-description-content {
    min-width: 1440px;
    position: relative;
    padding: 250px 120px 223px 120px;
  }
}

.art-tracks-content {
  .tracks-title {
    margin-bottom: 48px;
  }
}

.tracks-block {
  .column {
    display: grid;
    grid-template: auto-fill / 1fr;
    gap: 25px;

    .track-body {
      display: flex;
      justify-content: space-between;

      .track-info {
        display: grid;
        grid-template: auto / auto auto;
        gap: 15px;

        .name-art-info {
          align-self: center;
        }
      }

      & .light {
        align-self: center;
      }
    }
  }
}

@media (max-width: 799px) {
  .art-tracks-content {
    max-width: 799px;
    position: relative;
    padding: 100px 20px 0 20px;
  }

  .tracks-block {
    display: grid;
    grid-template: auto-fill / 1fr;
    gap: 25px;
  }
}

@media (min-width: 800px) {
  .art-tracks-content {
    max-width: 1200px;
    //position: relative;
    padding: 100px 0 0 50px;
  }
  .tracks-block {
    @include two-columns-grid(49px);
  }
}

.albums-content,
.sames-content {
  .main-title {
    margin-bottom: 48px;
  }

  .items {
    display: grid;
    row-gap: 25px;
    column-gap: 50px;

    @media (min-width: 800px) {
      grid-template-columns: repeat(auto-fill, 250px);
    }
    @media (max-width: 799px) {
      grid-template-columns: repeat(auto-fill, 137px);
    }

    .img-title-text {
      display: grid;
      grid-template: repeat(2, auto) / auto;
      gap: 18px;
    }
  }
}

.sames-content {
  .items {
    .img-title-text {
      .body {
        text-align: center;
      }
    }
  }
}

@media (min-width: 800px) {
  .albums-content,
  .sames-content {
    max-width: 1200px;
    //position: relative;
    padding: 100px 0 0 50px;

    .items {
      .img-title-text {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}

@media (max-width: 799px) {
  .albums-content,
  .sames-content {
    max-width: 799px;
    position: relative;
    padding: 100px 20px 0 20px;

    .items {
      .img-title-text {
        img {
          width: 137px;
          height: 137px;
        }
      }
    }
  }
}
