@import "_general";
@import "_variable";
@import "_header";
@import "_footer";

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
  @include font-x(400, 18px, 27px);
  color: $main-color-text;

  background-color: $main-bg;
}

.description-content {
  position: relative;
  padding: 200px 20px;
}

.description {
  position: relative;
  z-index: 2;

  text-align: center;

  .form-block-text {
    margin: 31px 0 17px 0;
  }

  .main-form {
    input {
      color: #fff;
      font-weight: 600;
      padding-right: 22px;
      padding-left: 22px;
    }

    input::placeholder {
      color: #fff;
      @include font-x(700, 14px, 16.4px);
    }

    .input-name {
      grid-area: name;
    }

    .input-mail {
      grid-area: mail;
    }

    &-btn {
      grid-area: btn;

      color: #fff;
      @include font-x(400, 13.3px, 15.4px);

      text-transform: uppercase;

      background-color: $green;
      border-radius: 5px;
    }
  }
}

@mixin grid-form-x($min-wd-col1, $max-wd-col1, $min-wd-col2, $max-wd-col2) {
  display: grid;
  justify-content: center;
  .input-name {
    grid-area: name;
  }

  .input-mail {
    grid-area: mail;
  }

  .main-form-btn {
    grid-area: btn;
  }

  @content;

  grid-template: minmax(50px, auto) minmax(57px, auto) / minmax($min-wd-col1, $max-wd-col1) minmax(
      $min-wd-col2,
      $max-wd-col2
    );
}

@media (max-width: 1439px) {
  .main-form {
    @include grid-form-x(auto, 273px, auto, 273px);
    grid-template-areas:
      "name mail"
      "btn btn";
    gap: 24px;
    margin: 17px auto 0;
  }
}

@media (max-width: 799px) {
  .description-content {
    position: relative;
    max-width: 799px;
    padding: 250px 20px 200px 20px;
  }

  .description {
    .form-block {
      .form-block-text {
        margin: 16px 0;
      }
    }
  }

  .main-form {
    display: grid;
    grid-template: repeat(2, minmax(50px, 1fr)) 60px / 1fr;
    grid-template-areas:
      "name"
      "mail"
      "btn";
    gap: 24px;

    .input-name {
      grid-area: name;
    }

    .input-mail {
      grid-area: mail;
    }

    .main-form-btn {
      grid-area: btn;
    }
  }
}

@media (min-width: 1440px) {
  .description-content {
    position: relative;
    min-width: 1440px;
  }

  .main-form {
    @include grid-form-x(273px, auto, 273px, auto);
    grid-template-areas:
      "name mail"
      "btn btn";
    gap: 24px;
    margin-top: 17px;
  }
}

.subscriptions-wrapper-flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  .subscriptions-block-grid {
    .bg-free::before {
      @include bg-img-without-align;
      border-radius: 16px;

      background-image: url("../images/subscribe_1.png");
    }

    .bg-standard::before {
      @include bg-img-without-align;
      border-radius: 16px;

      background-image: url("../images/subscribe_2.png");
    }

    .bg-premium::before {
      @include bg-img-without-align;
      border-radius: 16px;

      background-image: url("../images/subscribe_3.png");
    }

    .subscriptions-item {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 0 25px;

      .subscriptions-item-title {
        position: relative;
        z-index: 2;
      }

      .subscriptions-price {
        position: relative;
        z-index: 2;

        margin-top: 200px;

        .align-rub {
          vertical-align: top;
          margin-left: 16px;
        }
      }

      .subscriptions-btn {
        position: relative;
        z-index: 2;

        width: 100%;
        min-height: 66px;

        margin: 40px 0 0 0;

        border: 1px solid #fff;
        border-radius: 5px;
        background: rgb(0 0 0 / 0%);
      }

      .subscriptions-footer {
        position: relative;
        z-index: 2;
        text-align: center;

        margin: 64px 0;
      }
    }
  }

  .subscriptions-text {
    text-align: center;
    margin-top: 40px;
  }
}

@media (min-width: 800px) {
  .subscriptions-container {
    position: relative;
    max-width: 1240px;
    padding: 100px 20px 0;

    .subscriptions-block-grid {
      display: grid;
      grid-template: auto / repeat(3, 1fr);
      gap: 50px;

      margin-top: 45px;

      &.subscriptions-item {
        grid-column: 1span;
      }

      .subscriptions-item-title {
        margin-top: 24px;
      }
    }
  }
}

@media (max-width: 799px) {
  .subscriptions-container {
    position: relative;
    max-width: 799px;
    padding: 100px 20px 0 20px;
  }

  .subscriptions-title {
    margin-bottom: 46px;
  }

  .subscriptions-block-grid {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    gap: 48px;
  }

  .subscriptions-item-title {
    margin-top: 16px;
  }
}

.news-title {
  text-align: center;
}

.news-block-grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  gap: 63px;

  width: 100%;
  margin-top: 48px;
}

.news-item {
  display: grid;
  grid-template: auto / 50% 50%;

  & .body {
    display: flex;
    flex-direction: column;

    & .title {
      margin: 0 0 30px 0;
    }

    & .description {
      text-align: start;
    }

    & .logo-date {
      display: grid;
      grid-template: auto / repeat(3, auto);
      gap: 16px;

      margin: 24px 0 0;

      justify-content: start;

      img {
        align-self: center;
        width: 19px;
        height: 19px;
      }
    }

    & .btn {
      width: 135px;
      height: 53px;

      margin-top: 48px;

      background: rgb(0 0 0 / 0%);
      border: 1px solid $main-color-text;
      border-radius: 5px;
    }
  }
}

@media (min-width: 800px) {
  .news-container {
    position: relative;
    max-width: 1240px;
    padding: 102px 20px 0;
  }

  .news-item {
    gap: 25px;

    & img {
      width: 575px;
    }

    & .hex-layout {
      .logo-date {
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 799px) {
  .news-container {
    position: relative;
    max-width: 799px;
    padding: 100px 20px 0 20px;
  }

  .news-item {
    display: grid;
    grid-template: auto auto / 100%;

    img {
      order: 1;

      @include addapting-img;
    }

    .body {
      order: 2;

      .title {
        margin: 50px 0 16px 0;
      }

      .logo-date {
        img {
          order: 1;
        }
        .logo {
          order: 2;
        }
        .date {
          order: 3;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .news-item {
    img {
      @include addapting-img;
    }
  }
}

.app-title {
  text-align: center;
}

.app-block .body .btn {
  width: 131px;
  height: 53px;

  margin-top: 15px;

  border-radius: 32px;
  background-color: $red;
}

.app-block .image img {
  @include addapting-img;
}

@media (min-width: 800px) {
  .app-container {
    position: relative;
    max-width: 1240px;
    padding: 100px 20px 0;
  }

  .app-block {
    display: flex;

    & .body {
      flex: 0 0 50%;

      & .text {
        padding-top: 64px;
      }
    }

    & .image {
      flex: 0 0 50%;
      padding: 48px 0 0 144px;
    }
  }
}

@media (max-width: 799px) {
  .app-container {
    position: relative;
    max-width: 799px;
    padding: 100px 20px 0;
  }

  .app-block {
    display: flex;
    flex-direction: column;

    & .body {
      order: 2;

      & .text {
        p {
          margin-top: 16px;
        }
      }
    }

    & .image {
      order: 1;

      margin: 48px auto 16px auto;
    }
  }
}
